@font-face {
  font-family: "Pokemon Solid";
  src: url("./assets/font/pokemon/Pokemon\ Solid.ttf") format("truetype");
}

@font-face {
  font-family: "revalia-v22-latin-regular";
  src: url("./assets/font/revalia-v22-latin/revalia-v22-latin-regular.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: red white;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  font-family: 'revalia-v22-latin-regular';
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: red;
}

p{
  margin:8px 0;
}

.ball_big_circle {
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ball_line {
  background-color: rgb(196, 196, 196);
  height: 5px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.ball_small_circle {
  background-color: rgb(196, 196, 196);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
}

button {
  cursor: pointer;
  font-family: 'revalia-v22-latin-regular';
}

.content_limitation,
.content_limitation_impressum {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}

.content{
  padding: 0 24px;
  margin-top: 150px;
}

.div_logo {
  gap: 8px;
  padding-left: 24px;
  padding-top: 16px;
}

.logo{
  display: flex;
}
.div_pokeball {
  padding-top: 8px;
}

header {
  position: fixed;
  top: 0;
  height: 150px;
  font-family: "Pokemon Solid";
  font-size: 40px;
  z-index: 1200;
}

header,
footer {
  background-color: rgb(29, 29, 28);
  color: white;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-left: 24px;
}

.div_footer{
  display: flex;
  flex-direction: row;
}

.footer_image{
  height:50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 16px;
}
.creator{
  margin-top: 8px;
}

.impressum a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.impressum a:hover{
  color:red;
}

.logo_text_impressum a:hover{
  color:red;
  cursor: pointer;
}

section {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  gap: 16px;
  flex-wrap: wrap;
}

.pokemon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  height: 250px;
  width: 250px;
  background-color: rgb(26, 25, 25);
  background: linear-gradient(180deg, rgb(26, 25, 25), rgb(99, 79, 79));
  border: 2px solid white;
  border-radius: 10px;
  padding: 16px;
  color: white;
}

.pokemon_card:hover {
  box-shadow: 0 0 20px 5px var(--hoverColor);
  scale: 1.05;
  cursor: pointer;
}

.pokemon_name{
  font-size: 20px;
}

.div_types {
  display: flex;
  gap: 8px;
}

.div_types p {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.328);
  border-radius: 10px;
}

.pokemon_title {
  display: flex;
  gap: 16px;
}

.bg_for_img {
  background-color: black;
  background: linear-gradient(195deg, #2b1b12, #f73b7d);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid rgb(42, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.bg_for_img:hover {
  box-shadow: 0 0 20px 5px #ffffffcf;
}

.dialog_overlay {
  background-color: #000000b5;
  border: 2px solid black;
  position: fixed;
  width: 100%;
  top: 150px;
  height: calc(100vh - 150px);
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pokemon_card_dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 580px;
  width: 450px;
  background-color: rgb(26, 25, 25);
  background: linear-gradient(180deg, rgb(26, 25, 25), rgb(99, 79, 79));
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}

.dialog_top_content {
  width: calc(100% - 32px);
  position: relative;
}

.dialog_name {
  text-align: start;
  font-size: 32px;
  margin-top: 0;
}

.content_categories {
  padding: 16px;
  font-size: 16px;
}

.single_category{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.about_content{
  display: flex;
  align-items: center;
  gap:16px;
}

.stat_name,
.about_group{
width:45%;
}

.single_category p{
margin-top: 0;
}

.stat_values{
  height: 15px;
  width: 120px;
  border-radius: 10px;
}

.div_navigation_btn {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  width: calc(100% - 48px);
}

.bg_for_img_dialog {
  background-color: black;
  background: linear-gradient(195deg, #2b1b12, #f73b7d);
  width: 180px;
  height: 160px;
  border-radius: 100%;
  border: 2px solid rgb(42, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pokemon_img_dialog {
  height: 160px;
  width: 190px;
  margin-bottom: -40px;
  margin-right: -130px;
  position: relative;
}

.pokemon_img_dialog:hover {
  scale: 1.2;
}
.evolution_img{
  height:100px;
  width:100px;
  margin:8% 3%;
}

.types_in_dialog{
  position: absolute;
  top:10px;
  left:-15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.categories_dialog {
  border-bottom: 2px solid white;
  background-color: #6e6c6c;
  border-radius: 10px;
  height: 255px;
  margin-top: 16px;
  width: 98%;
  font-size: 18px;
}

.category_titles_dialog {
  display: flex;
  font-size: 12px;
  gap: 12px;
  color: grey;
  font-size: 10px;
}

.single_type_dialog{
background-position: center;
background-size: cover;
font-size: 16px;
}

.dialog_id {
  text-align: end;
  font-size: 28px;
  margin-bottom: 0;
}

li {
  text-indent: 30px;
}

h3 {
  margin: 0;
  padding: 8px;
  background-color: #4d4d4d;
  border-radius: 10px;
  font-size: 18px;
}

h3:hover {
  cursor: pointer;
}

.onclick {
  color: white;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
  background-color: #6e6c6c;
  border-radius: 10px;
}

.close_btn{
  position: absolute;
  background-color: transparent;
  color: white;
  top: 12px;
  right: 10;
  border-radius: 10px;
  height:25px;
  width: 65px;
}

.close_btn:hover,
.navigation_btn:hover{
  background-color: rgb(61, 59, 59);
  scale: 0.9;
}

.navigation_btn{
  background-color: rgb(26, 25, 25);
  color: white;
  border-radius: 10px;
  height:40px;
  width: 100px;
}

/*loading spinner*/

.loading_spinner {
  
  background-color: rgba(0, 0, 0, 0.917);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1300;
}


.loader {
  color: #ff0000;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
 

.div_search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -20px;
  min-width: 100%;
}

.search_input {
  height: 50px;
  width: 25%;
  min-width: 250px;
  border: 3px solid;
  border-radius: 20px;
  font-family: 'revalia-v22-latin-regular';
  text-align: center;
  border-color: light-dark(rgb(219, 45, 45), rgb(243, 8, 8));
}

.search_suggestion {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100px;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 10px;
  color: black;
  font-size: 12px;
  position: absolute;
  top: 80%;
  overflow: auto;
  z-index: 1200;
  scrollbar-width: thin;
  font-family: 'revalia-v22-latin-regular';
}

.suggested_pokename {
  padding-left: 8px;
}

.suggested_pokename:hover {
  cursor: pointer;
  background-color: rgba(176, 176, 176, 0.77);
  border-radius: 10px;
}

.div_to_main_page{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -20px;
  min-width: 100%;
}

.to_main_page{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgba(112, 111, 111, 0.77);
  text-decoration: none;
  height: 50px;
  width: 25%;
  min-width: 250px;
  border: 3px solid;
  border-radius: 20px;
  font-family: 'revalia-v22-latin-regular';
  text-align: center;
  font-size: 16px;
  border-color: light-dark(rgb(219, 45, 45), rgb(243, 8, 8));
}

.div_to_main_page:hover{
  cursor: pointer;
}

.to_main_page:hover{
  background-color: rgb(244, 215, 215);
  cursor: pointer;
}

.content_impressum{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  margin: 0;
 word-break: break-all;
}

/*pokeball as load button*/

.ball_big_circle_load {
  background: linear-gradient(180deg, red, white);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ball_line_load {
  background-color: rgb(255, 255, 255);
  color: gray;
  height: 15px;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ball_small_circle_load {
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
}

.load_data_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 90px;
  width: 80px;
  margin: 16px 0;
}

.load_data_btn:hover {
  scale: 0.9;
}

.d_none {
  display: none;
}

@media(max-width:850px){
  .pokemon_card {
    height: 185px;
    width: 165px;
    padding: 12px;
  }
  .pokemon_name{
    font-size: 14px;;
  }
  .pokemon_title {
    display: flex;
    gap: 8px;
    font-size: 14px;;
}
   .div_types {
     gap: 4px;
}
  .pokemon_img{
    max-height: 90px;
  }
  .single_type_dialog{
    font-size: 10px;
  }
}

@media(max-width: 670px){
  h3{
    font-size: 12px;
  }
  .content{
    padding: 0 16px;
  }
  .search_input {
   height: 30px;
   margin-top: 16px;
  }
  .to_main_page{
    height: 30px;
    margin-top: 16px;
    font-size: 12px;
  }
  .pokemon_card_dialog {
    height: 550px;
    width: 250px;
  }
  .dialog_name {
    font-size: 24px;
  }
  .content_categories {
    padding: 12px;
    font-size: 12px;
  }

.single_category {
  gap: 8px;
}
.about_content{
  gap:8px;
}
.about_group{
  width: 75px;
}
.content_categories{
  padding: 8px;
}
  .div_navigation_btn {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    width: auto;
    min-width: 200px;
  }
  .bg_for_img_dialog {
    width: 150px;
    height:150px;
  }
  .pokemon_img_dialog {
    height: 150px;
    width: 180px;
    margin-bottom: -40px;
    margin-right: -150px;
    position: relative;
  }
  .dialog_id{
    font-size: 24px;
  }
  .categories_dialog {
    font-size: 12px;
    height: 300px
  }
  .category_titles_dialog {
    display: flex;
    font-size: 12px;
    gap: 12px;
    color: grey;
    font-size: 10px;
  }
  .evolution_img{
    height:55px;
    width:55px;
    margin:2% 0;
    margin-left: 35%
  }
  .navigation_btn{
    width:70px;
    height: 30px;
  }
  .close_btn{
    height: 20px;
    width: 65px;
    font-size: 12px;
  }
  .about_group{
    width:35%;
  }
  .stat_name{
    width:65%;
  }
.stat_values{
  width: 45px;
}
}

@media(max-width:570px){
 .content{
  padding:8px;
 }
  .content_impressum{
    font-size: 12px;
  }
  .content_impressum a{
    font-size: 10px;
  }
  .pokemon_card {
    height: 180px;
    width: 130px;
    font-size: 10px;
  }
  .pokemon_name{
    font-size: 12px;;
  }
  .pokemon_title {
    gap: 4px;
    font-size: 12px;;
}
   .div_types {
     gap: 2px;
}
.pokemon_card {
  padding: 0 3px;
  padding-top: 12px;
}
  .pokemon_img{
    max-height: 90px;
  }
  .to_main_page{
    height: 30px;
    margin-top: 16px;
    font-size: 12px;
  }
  .pokemon_card_dialog {
    height: 550px;
    width: 250px;
  }
  .pokemon_title {
    display: flex;
    gap: 4px;
  }
  .bg_for_img {
    width: 80px;
    height: 80px;
  }
  .pokemon_img{
    max-height: 70px;
  }
  .content {
    gap: 8px;
  }
  footer{
    font-size: 10px;
  }
  .ball_big_circle_load {
    height: 60px;
    width: 60px;
  }
  .ball_line_load {
    height: 5px;
    color: rgb(49, 49, 49);
    font-size: 10px;
  }
  .ball_small_circle_load {
    height: 20px;
    width: 20px;
  }
  .load_data_btn {
    height: 60px;
    width: 50px;
  }
}
@media(max-width:360px){
  .pokemon_img_dialog {
    height: 150px;
    width: 180px;
    margin-right: -130px;
   
  }
}