body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.content_limitation {
  width: 100%;
  max-width: 1920px;
  background-color: bisque;
  padding: 24px;
}

.content {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow-x: hidden;
}

.pokemon_card {
  height: 150px;
  width: 150px;
  background-color: rgb(226, 224, 221);
  border: 2px solid white;
  padding: 16px;
}

header{
    display: flex;
    justify-content: space-between;
}

header,
footer {
  height: 100px;
  background-color: rgb(246, 173, 82);
}
